@font-face {
    font-family: "Poppins";
    src: url('../Poppins-Regular.ttf');
}

.sponsors{
    /* background-color:black; */
        background-color: rgba(0, 0, 0, 0.877);
    min-height: 700px;
    margin-top: 0px !important;
    width: 100%;
    color: aliceblue;
    margin-top: 1rem;
    font-family: "Poppins";

}
.sp{
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    padding: 100px 10px 20px 10px;
  
}
.namee{
    text-align: center;
    font-size: larger;
    /* font-family: monospace; */
    font-size: 40px;
}
.spimg{
    height: 100px;
    width: 150px;
    border-radius: 3px;
    object-fit:cover ;
    width: fit-content;
    margin-right:50px;
    margin-left: 50px;
    padding-top: 10px;
    
    
}
.spname{
    width: fit-content;
    margin-right: 50px;
    margin-left: 50px;
}

/* @media screen and (max-width:800px) {
    .sp {
        flex-direction: column;
    }
} */